:root {
  --crt-red: #ff667a;
  --crt-green: #66ff99;
  --crt-blue: #66d9ff;
  --crt-bg: #f9f9f9;
  --crt-text: #222222;
  --crt-border: #dddddd;
}

.scroll-to-top-arrow {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: var(--crt-blue);
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#Logo {
  max-height: 45px;
  border-radius: 16px;
  margin-left: 25px;
  margin-top: 20px;
}
